.profileBar {
  padding-top: 6rem;
}

.profileCard {
  width: 500px;
  margin: auto;
  background-color: white;
  padding: 2rem;
}

.profileCard form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profileCard h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.setUser {
  font-size: 1.2rem;
  margin-top: -0.5rem;
  text-align: center;
}

.setUserName {
  text-transform: capitalize;
}

.editProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.logout {
  background-color: rgb(205, 6, 6);
  border-radius: 3px;
}

.logout:hover {
  background-color: rgb(223, 3, 3);
}

.editButton {
  color: blue;
  background-color: transparent;
  padding: 0;
}

.saveButton {
  background-color: blue;
  border-radius: 3px;
}

.createListing {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createListing button {
  margin: auto;
  background-color: rgb(49, 49, 247);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  border-radius: 3px;
}

.createListing button:hover {
  background-color: rgb(18, 18, 249);
}
