@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f4f8;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

select {
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

input {
  border: none;
  font-size: 1rem;
  background-color: whitesmoke;
  padding: 8px;
  outline: none;
}

button {
  border: none;
  padding: 8px 2rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.hideLoad {
  display: none;
}

.listingTypeBars {
  padding-top: 6rem;
}

@media (max-width: 768px) {
  .listingTypeBars {
    padding-top: 5rem;
  }
}
