.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loaderIcon {
  font-size: 2.5rem;
  color: rgb(144, 30, 252);
  animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
